/* Cacher le bouton pause en mode PAUSE */
* {
  margin: 0;
  padding: 0;
}
#pause-icon {
  display: none;
}

/* Afficher le bouton pause en mode PLAY */
.playing #pause-icon {
  display: inline;
}

/* Cacher le bouton play en mode PLAY */
.playing #play-icon {
  display: none;
}

/* Changer le style du bouton like */
#like.liked {
}

/* Sliders */
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background: lightgray;
  background-image: linear-gradient(#ff4500, #fe6a35);
  background-size: var(--progress-percentage) 100%;
  background-repeat: no-repeat;
}

/* Le curseur du slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f84e11;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

/* Le curseur du slider au survol */
input[type="range"]::-webkit-slider-thumb:hover {
  background: rebeccapurple;
}

/* La zone du slider */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.showing {
  max-width: 113px;
  max-height: 113px;
  flex-shrink: 0;
  border-radius: 10px;
}
.appname {
  color: var(--white, #e1e4c9);
  font-family: "Cabinet Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header {
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: white solid;
}
.logo {
  margin: 40px;
}
.principal-top {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  color: #e1e4c9;
  text-align: center;
  font-family: "Cabinet Grotesk";
  font-size: 16 px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.artisteetrack {
  margin-left: 30px;
}
.principal-bottom {
  display: flex;
  justify-content: space-around;
  border-bottom: #e1e4c9 solid;
  margin: 20px;
  padding-bottom: 20px;
}
body {
  background: var(--Green-dark, #334231);
}
.playing {
  background-color: rgb(255, 255, 255);
}
button {
  background: none;
  border: none;
}
p {
  color: #e1e4c9;
  text-align: center;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.playlist-tracks {
  margin: 18px;
  display: flex;
  height: 69px;
  padding: 4px 5px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(119, 198, 108, 0.2);
  overflow: hidden;
  color: #e1e4c9;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.infos-track {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
  border-left: #e1e4c9 solid;
}
ul {
  list-style-type: none;
}
.media-player {
  margin: auto;
  max-width: 375px;
}
